<!doctype html>
<html ng-app="ChatMiniinstagramApp" lang="en" >
    <head>
        <title>Miniisntragram chat</title>
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="styles/chat.css">
    </head>
    <body ng-controller="BaseController">-->
        <div ng-view id="page-wrapper"> </div>
        <script src="js/app/vendor/socket.io.js"></script>
        <script src="js/app/vendor/jquery-2.1.4.min.js"></script>
        <script src="js/app/vendor/angular.js"></script>
        <script src="js/app/vendor/angular-route.js"></script>
        <script src="js/app/vendor/angular-local-storage.min.js.map"></script>
        <script type="js/app/vendor/underscore.js"></script>
        <script src="js/app.js"></script>
        <script type="js/app/controller/baseController.js"></script>
        <script src="js/app/controller/loginController.js"></script>
        <script src="js/app/controller/listUserController.js"></script>
        <script src="js/app/controller/chatController.js"></script>
    </body>
</html>