<h2 id="chatListTitle">{{ userId }}</h2>
<li class="chat page">
    <div class="chatArea">
        <ul class="messages">
        	<li ng-repeat="msg in messages">
				<span><strong> {{ msg.user.username }} </strong></span> {{ msg.message }} 
			</li>
        </ul>
    </div>
    <input id="messageInput" class="inputMessage" placeholder="Type here..."/>
    <button ng-click="sendMessage()">Send Message</button>
</li>