<div class="login page"> 
    <div class="form"> 
        <h3 class="title">What's your nickname?</h3>
        <input placeholder="ID" id="userId" class="usernameInput" type="text" maxlength="14" /> 
        <input placeholder="USERNAME" id="userName" class="usernameInput" type="text" maxlength="14" /> 
    </div>
    <button ng-click="setUser()"> Login</button>
</div>