#chatListTitle{
	text-align: center;
}

#chatContainer{
	width: 100%;
	height: 100%;
}

#chatContainer .cell-list{
	color: white;
	width: 100%;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
}

#chatContainer .cell-list a{
	float: left;
	width: 100%;
	background: #424242;
}

#chatContainer .cell-list a:hover{
	background: #2d2d2d;
}